@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.news-app {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.news-item {
    width: 600px;
    padding: 20px;
    border: none;
    margin-bottom: 20px;
    margin-top: 10px;
}

.news-img {
    width: 600px;
}

h3 a {
    color: rgb(0, 255, 98);
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
}

h3 p {
    color: white;
}

