@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.title {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    letter-spacing: 20px;
    font-size: 35px;
    color: white;
}

.btn {
    text-align: right;
}

.sign-in {
    border: none;
    margin-right: 50px;
    letter-spacing: 5px;
    font-size: 20px;
    margin-top: 0px;
    cursor: pointer;
    font-family: 'Bebas Neue', cursive;
    color: rgb(0, 255, 98);
    background-color: rgb(7, 7, 7);
}

.sign-out {
    border: none;
    margin-right: 50px;
    letter-spacing: 5px;
    font-size: 20px;
    margin-top: 0px;
    cursor: pointer;
    font-family: 'Bebas Neue', cursive;
    color: rgb(0, 255, 98);
    background-color: rgb(7, 7, 7);
}
